<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/elementUI.css">
    <script src="/js/vue.js"></script>
    <script src="/js/elementUI.js"></script>
    <script src="/js/echarts.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/axios.js"></script>
</head>
<body>
<div id="app">

    <el-input v-model="serchMap.dept" placeholder="输入科室"></el-input>
    <el-input v-model="serchMap.name" placeholder="输入医生"></el-input>
    <el-button type="primary" @click="getAll">搜索</el-button>
    <el-button type="primary" @click="daodaodao">导出</el-button>

    <el-table :data="tableData">
        <el-table-column prop="id" label="编号"></el-table-column>
        <el-table-column prop="dept" label="科室"></el-table-column>
        <el-table-column prop="name" label="医生"></el-table-column>
        <el-table-column prop="time" label="时间"></el-table-column>
        <el-table-column prop="num" label="余号"></el-table-column>
        <el-table-column>
            <template label="操作" slot-scope="scope">
                <el-button type="primary" @click="orderNum(scope.row)" :disabled="scope.row.num < 1">立即挂号
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :total="page.total"
                   :page-size="page.size"
                   :page-sizes="[3,6,9,12]" layout="total,sizes,prev,pager,next,jumper"
                   :current-page="page.page"></el-pagination>
    <el-dialog title="订单" :visible.sync="dialogFormVisible">
        <el-form>
            <el-form-item label="编号">{{order.id}}</el-form-item>
            <el-form-item label="就诊科室">{{order.dept}}</el-form-item>
            <el-form-item label="就诊时间">{{order.time}}{{order.time1}}</el-form-item>
            <el-form-item label="接诊医生">{{order.doctor}}</el-form-item>
            <el-form-item label="挂号费">{{order.money}}</el-form-item>
            <el-form-item label="就诊人">{{order.user}}</el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
        </div>
    </el-dialog>

    </el-form>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            dialogFormVisible: false,
            tableData: [],
            page: {
                page: 1,
                size: 3,
                total: 0
            },
            serchMap: {
                dept: '',
                name: ''
            },
            order: {}
        },
        methods: {
            daodaodao(){
                location.href='order/daodaodao'
            },
            orderNum(row) {
                let form = {
                    user: getQueryString('user'),
                    dept: row.dept,
                    doctor: row.name,
                    time1: row.time,
                    money: 50,
                }
                axios.post(`order/insert`, form).then(res => {
                    console.log(res.data)
                    console.log(res)
                    if (res.data.code === 200) {
                        this.$message.success("成功")
                        this.order = res.data.data
                        this.dialogFormVisible = true
                        this.getAll()
                    }
                })
            },
            handleSizeChange(val) {
                this.page.size = val
                this.getAll()
            },
            handleCurrentChange(val) {
                this.page.page = val
                this.getAll()
            },
            getAll() {
                axios.post(`doctor/getAll?page=${this.page.page}&size=${this.page.size}`, this.serchMap).then(res => {
                    this.tableData = res.data.list
                    this.page.total = res.data.total
                })
            }

        }, created() {
            this.getAll()
        }
    })
</script>
</body>
</html>